body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background */
    color: black;
}

header {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

.ppic {
    width: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Make the image circular */
}

#dhead {
    background: white; /* Header background */
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#ddesc h1 {
    margin: 10px 0;
}

#ddesc h2 {
    margin: 10px 0;
    font-weight: normal; /* Makes it less prominent */
}

#dico {
    margin-top: 10px;
}

.iico {
    width: 30px; /* Adjust size as needed */
    margin: 0 10px;
    transition: transform 0.3s; /* Adding transition for hover effect */
}

.iico:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

nav {
    background: black;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: white;
    color: black;
    border-radius: 5px;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #fff; /* Section background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entry, .project-entry, .pet-project-entry {
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid black;
}

.download-icon {
    width: 20px; /* Adjust size as needed */
    vertical-align: middle;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: black;
    color: white;
    position: relative;
}










